@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,900&display=swap");

:root {
  --color: #ff6734;
  --white: #fff;
  --black: #1c2b2d;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
  --twitter: hsl(207, 93%, 46%);
  --fb: hsl(221, 89%, 41%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  box-shadow: none !important;
}
html {
  font-size: 10px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}
input#exampleForm\.ControlInput1 {
    padding: 1rem;
    font-size: 1.5rem;
}
label.form-label {
    font-size: 2rem;
    font-weight: bold;
}

